Source: ros-humble-turtlebot3-home-service-challenge-tools
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: http://wiki.ros.org/turtlebot3
Standards-Version: 3.9.2

Package: ros-humble-turtlebot3-home-service-challenge-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-controller-manager, ros-humble-moveit-ros-move-group, ros-humble-nav2-bringup, ros-humble-nav2-bt-navigator, ros-humble-turtlebot3-manipulation-bringup, ros-humble-turtlebot3-manipulation-moveit-config, ros-humble-turtlebot3-manipulation-navigation2, ros-humble-ros-workspace
Description: turtlebot3_home_service_challenge_tools
